<body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <app-nav-bar></app-nav-bar>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <app-side-bar></app-side-bar>
        <!-- partial -->
        <div class="main-panel">
<router-outlet></router-outlet>

</div>
<!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->

<!-- endinject -->
<!-- Custom js for this page-->
<!-- End custom js for this page-->
</body>
